---
import type { PublicProduct } from '@/lib/products/types';
import ProductCard from './ProductCard.astro';

interface Props {
  products: PublicProduct[];
}

const { products } = Astro.props;
---

<div class="grid gap-x-grid-gap gap-y-12 md:grid-cols-2 lg:grid-cols-3">
  {products.map((product) => <ProductCard product={product} />)}
</div>
